* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Light', Arial, sans-serif;
    background: black;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.left-column, .right-column {
    padding: 48px;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.right-column {
    width: 60%;
    display: flex;
    align-items: center;
}

.header {
    margin-top: 420px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.link, .hover-effect {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.link:hover, .hover-effect:hover {
    color: #666666;
}

.contact {
    margin-top: 48px;
}

.description {
    margin: 0;
    padding: 0 48px;
    text-align: left;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
        padding: 24px;
    }
    .header {
        margin-top: 48px;
    }
    .links {
        gap: 24px;
    }
}
