body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 48px;
    background-color: #000;
    color: #fff;
    display: flex;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.left-column {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
     h1 {
      margin: 0;
      padding: 0;
      font-size: 48px;
      border: 0;
     } 
  .contact {
     h1 {
      font-size: 48px;
     } 
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.right-column {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 100%;
    box-sizing: border-box;
    padding: 48px 56px 48px 48px;
    margin-bottom: 192px;
    p {
    font-size: 48px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    }
}
h1 {
    font-size: 3em;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 0.5em;
}
ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
ul li a:hover {
    color: #666666;
}
.contact {
    margin-top: 2em;
}
